<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString"
             connectionString="Server=localhost; database=zipschema; UID=root; password=Qweasdzxc123Halo02;"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>